{% extends "email/_layout_email.html" %}

{% block subject %}
Votre contrat est prêt – {{ company.name }}
{% endblock %}

{% block title %}
Votre contrat est prêt
{% endblock %}

{% block email_content %}

<p style="margin:0 0 24px;font-size:16px;color:#334155;">
  Bonjour {{ user.first_name|capfirst }} {{ user.last_name|capfirst }},
</p>

{% if contract.is_signed %}
<p style="margin:0 0 20px;font-size:16px;color:#166534;">
  Nous vous transmettons le <strong>contrat signé</strong> lié à votre dossier.  
  Merci pour votre confiance.
</p>
{% else %}
<p style="margin:0 0 20px;font-size:16px;color:#334155;">
  Veuillez trouver en pièce jointe votre contrat à signer.
  Merci de le consulter attentivement, de le signer et de nous le retourner par e-mail.
  <br><br>
  Notre équipe reste à votre disposition au <strong>{{ phone }}</strong> pour toute demande ou information complémentaire.
</p>
{% endif %}

<p style="margin-top:26px;font-size:15px;color:#334155;">
  À bientôt,<br>
  <strong>L’équipe {{ company.name }}</strong>
</p>

{% endblock %}
